<div class="row">
  <div class="col-md-4">
    <h1>Angular + NGRX</h1>
    <hr />
    <br />
    <a [routerLink]="['/log-in']" class="btn btn-primary">Log in</a>
    <a [routerLink]="['/sign-up']" class="btn btn-primary">Sign up</a>
  </div>
</div>
